interactions:
- request:
    body: The contents of a file-like object
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      authorization:
      - fake-authz-header
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 18 Aug 2020 12:36:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://my-account.blob.core.windows.net/my-container/giftless-tests/org/repo/2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Wo/0hVc0TMrzPXqSansLsg==
      ETag:
      - '"0x8D8437354D3B098"'
      Last-Modified:
      - Tue, 18 Aug 2020 12:36:29 GMT
      x-ms-content-crc64:
      - O5sk8z3/CZI=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - fake-authz-header
      x-ms-date:
      - Tue, 18 Aug 2020 12:36:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://my-account.blob.core.windows.net/my-container/giftless-tests/org/repo/2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Wo/0hVc0TMrzPXqSansLsg==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D8437354D3B098"'
      Last-Modified:
      - Tue, 18 Aug 2020 12:36:29 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 18 Aug 2020 12:36:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - fake-authz-header
      x-ms-date:
      - Tue, 18 Aug 2020 12:36:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://my-account.blob.core.windows.net/my-container?prefix=giftless-tests&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://my-account.blob.core.windows.net/\" ContainerName=\"\
        my-container\"><Prefix>giftless-tests</Prefix><Blobs><Blob><Name>giftless-tests/org/repo/2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824</Name><Properties><Creation-Time>Tue,\
        \ 18 Aug 2020 12:36:29 GMT</Creation-Time><Last-Modified>Tue, 18 Aug 2020\
        \ 12:36:29 GMT</Last-Modified><Etag>0x8D8437354D3B098</Etag><Content-Length>34</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-CRC64 /><Content-MD5>Wo/0hVc0TMrzPXqSansLsg==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - fake-authz-header
      x-ms-date:
      - Tue, 18 Aug 2020 12:36:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://my-account.blob.core.windows.net/my-container/giftless-tests/org/repo/2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 202
      message: Accepted
version: 1
