figcan==0.0.*
flask==1.1.*
flask-marshmallow==0.11.*
marshmallow-enum==1.5.*
pyyaml==5.*
PyJWT==1.7.*
webargs==5.5.*
typing-extensions==3.7.*
python-dotenv==0.13.*
python-dateutil==2.*
cryptography>=3.2.*  # not direct dependency, but pin to >=3.2 due to vulnerabilities

# For now we are using a development version of Flask-Classful which supports
# passing init arguments to view classes when they are registered. Hopefully
# it is released as 0.15 soon and we can start pinning to it.
# flask-classful==0.15.*
git+https://github.com/teracyhq/flask-classful.git@3bbab31#egg=flask-classful

# Storage backend dependencies
# TODO: Split these out so users don't have to install all of them
azure-storage-blob==12.2.*
google-cloud-storage==1.28.*
boto3==1.17.*
