figcan==0.0.*
flask~=2.3
flask-marshmallow~=0.15
marshmallow-enum~=1.5
pyyaml~=6.0
PyJWT~=2.4
webargs~=8.3
typing-extensions~=4.9
python-dotenv~=1.0
python-dateutil~=2.8
cryptography>=3.2  # not direct dependency, but pin to >=3.2 due to vulnerabilities

flask-classful~=0.16

werkzeug~=3.0

# Storage backend dependencies
# TODO: Split these out so users don't have to install all of them
azure-storage-blob~=12.11
google-cloud-storage~=1.28
boto3~=1.21

# https://github.com/PyCQA/flake8/pull/1438
importlib-metadata<4.3; python_version < '3.11'
