figcan==0.0.*
flask==1.1.*
flask-marshmallow==0.11.*
marshmallow-enum==1.5.*
pyyaml==5.*
PyJWT==1.7.*
webargs==5.5.*

# For now we are using a development version of Flask-Classful which supports
# passing init arguments to view classes when they are registered. Hopefully
# it is released as 0.15 soon and we can start pinning to it.
# flask-classful==0.15.*
git+https://github.com/teracyhq/flask-classful.git@3bbab31#egg=flask-classful

azure-storage-blob==12.2.*
